@page "/Chorelist"
@attribute [StreamRendering]

<PageTitle>Chore List</PageTitle>

<h1>Chore List</h1>

<p>Blake's Chore list</p>

    <table class="table">
        <thead>
            <tr>
                <th>Chore</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Pooper Scooping</td>
                    <td>$10</td>
                    <td><button type="button">Completed</button></td>
                </tr>
                <tr>
                    <td>Gigi Chores</td>
                    <td>$10</td>
                    <td><button type="button">Completed</button></td>
                </tr>
        </tbody>
    </table>

<button type="button" onclick="alert('Button clicked!')">I am a figment of Justin's imagination</button>

